//
// OneUI - UI Framework
// --------------------------------------------------

// Bootstrap functions
@import "bootstrap/scss/_functions";

// User variables (your own variable overrides)
@import "custom/variables";

// Custom Bootstrap variables overrides
@import "oneui/variables-bootstrap";

// Bootstrap variables
@import "bootstrap/scss/_variables";

// Bootstrap maps
@import "bootstrap/scss/_maps";

// Bootstrap mixins
@import "bootstrap/scss/_mixins";

// Custom mixins and Bootstrap overrides
@import "oneui/mixins";

// Bootstrap Utilities
@import "bootstrap/scss/_utilities";

// Custom utilities and Bootstrap overrides
@import "oneui/utilities";

// Layout & components
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_containers";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_accordion";
@import "bootstrap/scss/_breadcrumb";
@import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
@import "bootstrap/scss/_alert";
@import "bootstrap/scss/_progress";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_toasts";
@import "bootstrap/scss/_modal";
@import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_popover";
@import "bootstrap/scss/_carousel";
@import "bootstrap/scss/_spinners";
@import "bootstrap/scss/_offcanvas";
@import "bootstrap/scss/_placeholders";

// Bootstrap Helpers
@import "bootstrap/scss/helpers";

// Bootstrap Utilities
@import "bootstrap/scss/utilities/api";

// Custom variables
@import "oneui/variables";
@import "oneui/variables-themes";

// Extend Bootstrap styles and override the ones..
// ..we can't alter with the provided variables
@import "oneui/reboot";
@import "oneui/type";
@import "oneui/grid";
@import "oneui/tables";
@import "oneui/forms";
@import "oneui/buttons";
@import "oneui/transitions";
@import "oneui/dropdown";
@import "oneui/forms";
@import "oneui/nav";
@import "oneui/card";
@import "oneui/breadcrumb";
@import "oneui/pagination";
@import "oneui/modal";
@import "oneui/print";

// Custom layout
@import "oneui/layout";
@import "oneui/header";
@import "oneui/sidebar";
@import "oneui/side-overlay";
@import "oneui/layout-variations";
@import "oneui/hero";
@import "oneui/block";

// Custom components
@import "oneui/page-loader";
@import "oneui/nav-main";
@import "oneui/images";
@import "oneui/lists";
@import "oneui/item";
@import "oneui/overlay";
@import "oneui/timeline";
@import "oneui/ribbon";

// Helpers
@import "oneui/helpers";

// Core third party components
@import "vendor/animate";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "vendor/simple-line-icons";
@import "vendor/simplebar";
@import "vendor/nprogress";

// RTL Support
@import "oneui/rtl-support";

// Dark mode
@import "oneui/dark-mode";

// User styles (your own styles/overrides)
@import "custom/main";
